.menu-create {
  .mealInput {
    padding-left: 0;

    div {
      input {
        width: 90%;
        display: inline-block;
      }
      button {
        vertical-align: inherit;
      }
    }
  }

  .form-check {
    padding-top: calc(0.5rem + 1px);

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }
}
.menu-index
{
  .alert{
    .right-Link{
      float: right;
      padding: 0.5rem 0.5rem;
      font-size: large;
    }
    h3{
      display: inline-block;    }
  }


  .span-date{
    float: right;
  }
  .btn-block{
    text-align: left;
  }
  .card-header  {
    cursor: pointer;
  }
  .btn{
    text-align: left;
  }
  .card{
    h5{
      padding-top: 10px;
    }
    .list-group-item
    {
      padding: 5px;
    }
    .right-Link{
      float: right;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 10px;
      font-size: large;
    }
  }
}