.menu-create {
  .mealInput {
    padding-left: 0;

    div {
      input {
        width: 90%;
        display: inline-block;
      }
      button {
        vertical-align: inherit;
      }
    }
  }

  .form-check {
    padding-top: calc(0.5rem + 1px);

    input[type='checkbox'] {
      margin-right: 10px;
    }
  }
}